<h1>Curso RxJS</h1>
<!-- <button mat-raised-button color="primary" >Primary</button> -->
<!-- <app-from-event></app-from-event> -->
<!-- <app-map-filter></app-map-filter> -->
<!-- <app-tap></app-tap> -->
<!-- <app-share></app-share> -->
<!-- <app-concat></app-concat> -->
<!-- <app-next-error-compl></app-next-error-compl> -->
<!-- <app-buffer-time></app-buffer-time> -->
<!-- <app-switch-map></app-switch-map> -->
<!-- <app-fork-join></app-fork-join> -->
<!-- <app-concat-map></app-concat-map> -->
<!-- <app-merge-flat-map></app-merge-flat-map> -->
<!-- <app-use-multi-obs></app-use-multi-obs> -->
<app-scan></app-scan>
