<mat-toolbar>
    <!-- <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()"> -->
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            menu
        </mat-icon>
    </button>
    Curso RxJS
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <div class="text-center">
            <img class="avatar mat-elevation-z8" src="http://assets.stickpng.com/images/585e4beacb11b227491c3399.png" />
            <h4 class="name">Wilmer Stalin Alquinga Gualli</h4>
            <p class="designation">Developer Front-end</p>
        </div>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button w-all">
            <mat-icon>home</mat-icon>
            <span>&nbsp; Home</span>
        </button>
        <button mat-button class="menu-button w-all">
            <mat-icon>person</mat-icon>
            <span>&nbsp; Profile</span>
        </button>
        <button mat-button class="menu-button w-all">
            <mat-icon>info</mat-icon>
            <span>&nbsp; About</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button w-all">
            <mat-icon>help</mat-icon>
            <span>&nbsp; Help</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <app-rxjs></app-rxjs>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>